body{
  background-color: white;
  color: black;
}
h1{
  text-align:center;
  margin-top: 50px;
}
.timerr{
  background-color: #cd6f80;
  font-size:20px;
  text-align:center;
  font-weight: bold;
}

.tasks{
  font-size: 20px;
}
.circle{
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background: #cd6f80;
  padding: 10px;
  color: #000;
  text-align: center;
  font: 60px Arial, sans-serif;
}
.button{
  background: #cd6f80;
  font-weight: bold;
}
.firsttask{
  background-color: #32CD32;
  font-family: "Comic Sans MS", Impact, sans-serif;
}

.secondtask{
  background-color: #FF69B4;
  font-family: "Comic Sans MS", Impact, sans-serif;
}
